.rpg-icons-balance {
  background-image: url('/src/assets/img/icons/balance.png');
}

.rpg-icons-bestiary {
  background-image: url('/assets/img/icons/bestiary.png');
}

.rpg-icons-build-powers {
  background-image: url('/assets/img/icons/build-powers.png');
}

.rpg-icons-caracters {
  background-image: url('/assets/img/icons/caracters.png');
}

.rpg-icons-game-rules {
  background-image: url('/assets/img/icons/game-rules.png');
}

.rpg-icons-geography {
  background-image: url('/assets/img/icons/geography.png');
}

.rpg-icons-globe {
  background-image: url('/assets/img/icons/globe.png');
}

.rpg-icons-history-book {
  background-image: url('/assets/img/icons/history-book.png');
}

.rpg-icons-map {
  background-image: url('/assets/img/icons/map.png');
}

.rpg-icons-news {
  background-image: url('/assets/img/icons/news.png');
}

